<ion-view title="Infracciones">


  <ion-content class="has-header padding">
    <div class="row header">
        <div class="col">Placa Vehiculo</div>

        <div class="col">Motivo</div>


      </div>


      <div class="row" ng-repeat="carro in gautos">
          <div class="col">{{carro.placa}}</div>

          <div class="col">Mal Parqueado</div>


        </div>
    </ion-content>
      </ion-content>
</ion-view>
