<ion-view view-title="TARIFA<b>2</b>">
  <ion-floating-menu ng-if="noParqueado" menu-icon="ion-pinpoint" menu-color="#5297fc" menu-open-color="#3867ad">
    <ion-floating-item icon="ion-android-alarm-clock"  click="confirmarParqueo(1800)" text="Parquearme 30 min"></ion-floating-item>
    <ion-floating-item icon="ion-android-alarm-clock " click="confirmarParqueo(3600)" text="Parquearme 60 min"></ion-floating-item>
    <ion-floating-item icon="ion-android-alarm-clock" click="confirmarParqueo(5400)" text="Parquearme 90 min"></ion-floating-item>
    <ion-floating-item icon="ion-android-alarm-clock" click="confirmarParqueo(7200)" text="Parquearme 120 min"></ion-floating-item>
</ion-floating-menu>

<ion-floating-menu ng-if="parqueado" menu-icon="ion-minus" menu-color="#d21414" menu-open-color="#d21414">

</ion-floating-menu>
  <ion-content>




    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">

      <ui-gmap-map-control template="control.tpl.html" position="top-right"  index="-1" controller="InicioCtrl"></ui-gmap-map-control>




                     <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">

                     <ui-gmap-window isIconVisibleOnClick="true" options="windowOptions">
                                     <div>Estas parqueado en :  {{direccionR}}</div>
                     </ui-gmap-window>


  </ui-gmap-google-map>
  <script type="text/ng-template" id="control.tpl.html">

      <ion-list>
          <ion-radio ng-repeat="auto in autos" ng-model="seleccion" ng-value="auto.placa" ng-click="verAuto()"><i class="ion-model-s"></i>{{auto.placa}} </ion-radio>
        </ion-list>

<!-- aqui coloco el control del mapa puede ser el timer !-->

    </script>

  </ion-content>

</ion-view>
