<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="form">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="email" ng-model="loginData.username" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-disabled="form.$invalid">Entrar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
