<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="titleMain bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="iconLeft button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="menuLeft">
    <ion-header-bar class="titleLeft bar-stable">
      <h1 class="title">Wilson Pérez</h1>
    </ion-header-bar>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col width-100>

            <div class="container imgUser">
              <div class="row form-group">
                    <div class="col-xs-12 col-md-12">
                      <div class="panel panel-default">
                          <div class="panel-image hide-panel-body">
                              <img src="http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52d09387ae003_1.JPG" class="panel-image-preview">
                          </div>
                          <div class="panel-footer text-center">
                              <a ng-click=""><i class="icon ion-clipboard"></i></a>
                              <a ng-click=""><i class="icon ion-social-facebook"></i></a>
                              <a ng-click=""><i class="icon ion-social-instagram"></i></a>
                              <a ng-click=""><i class="icon ion-log-out"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list>
        <ion-item  ui-sref="app.inicio" menu-close ng-click="">
          <i class="icon ion-person"></i> Parquearme
        </ion-item>
        <ion-item menu-close ui-sref="app.vehiculos">
          <i class="ion-model-s"></i>  Vehiculos
        </ion-item>

        <ion-item menu-close ui-sref="app.saldos">
          <i class="ion-cash"></i> Saldos
        </ion-item>
        <ion-item menu-close ui-sref="app.recargas">
          <i class="ion-card"></i> Recargas
        </ion-item>
        <ion-item menu-close ui-sref="app.transferencias">
          <i class="ion-card"></i> Transferencias
        </ion-item>
        <ion-item menu-close ui-sref="app.infracciones">
          <i class="ion-alert-circled"></i> Infracciones
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
