<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Nuevo Vehiculo</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAdd()">Cerrar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="form">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Matricula</span>
          <input type="text" ng-model="vehiculo.placa" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Marca</span>
          <input type="text" ng-model="vehiculo.marca" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Modelo</span>
          <input type="text" ng-model="vehiculo.modelo" required>
        </label>

        <label class="item">
          <button class="button button-block button-positive" ng-click="guardar()" ng-disabled="form.$invalid">Guardar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
