<ion-view title="Listado de Vehiculos">

  <ion-floating-button click="myEvent()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>

  <ion-content class="has-header padding">
          <div class="row">
            <div class="col">

              <ion-list>
                <div class="item item-divider">
                                         Mis Autos
                                       </div>
                  <ion-radio ng-repeat="carro in gautos" ng-model="seleccion" ng-click="seleccionarAuto(carro)"><i class="ion-model-s"></i>{{carro.placa}} </ion-radio>
                </ion-list>

            </div>
            <div class="col" ng-show="showDetail">
              <div class="list">
            <div class="item item-divider">
                    Saldo Actual :{{autoSeleccionado.saldo}}
                    </div>
                    <label class="item item-input item-floating-label">
                      <span class="input-label">Cantidad</span>
                      <input ng-model="recarga.monto" type="number" placeholder="Cantidad $">
                    </label>

              </div>
              <ion-list>
                  <ion-radio ng-model="choice" ng-model="recarga.tipo" ng-value="paypal">Paypal</ion-radio>
                  <ion-radio ng-model="choice" ng-model="recarga.tipo">Dinero Electronico</ion-radio>
                  <ion-radio ng-model="choice"ng-model="recarga.tipo"  >Tarjeta de Credito</ion-radio>
            </ion-list>

            <button class="button button-full button-positive" name="button" ng-click="recargar()">Recargar</button>

            </div>

          </div>

    </ion-content>
      </ion-content>
</ion-view>
