<ion-view title="Saldos en Vehiculo">


  <ion-content class="has-header padding">
    <div class="row header">
        <div class="col">Placa</div>

        <div class="col">Saldo</div>


      </div>


      <div class="row" ng-repeat="carro in gautos">
          <div class="col">{{carro.placa}}</div>

          <div class="col">{{carro.saldo}} $</div>


        </div>
    </ion-content>
      </ion-content>
</ion-view>
