<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item " href="#/app/login"><i class="icon ion-unlocked"></i> Login </a>
      <a class="tab-item active" href="#/app/signup"> <i class="icon ion-person"></i> Sing Up </a>
    </div>
  </div>

<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
  <ion-content class="padding">

<div class="app-logo"><img src="img/logo.png"></div>
  <div class="row responsive-sm padding remvoeBP">

	  <div class="col">




			<div class="list list-inset removePM">
			  <label ng-show="data.step == 1" class="item item-input"><input type="text" placeholder="Nombre Completo"> </label>
        <label ng-show="data.step == 1" class="item item-input"><input type="text" placeholder="Cedula"> </label>
			  <label ng-show="data.step == 1" class="item item-input"><input type="text" placeholder="Correo Electronico"> </label>
			  <label ng-show="data.step == 1" class="item item-input"><input type="text" placeholder="Telefono"> </label>
          <label ng-show="data.step == 1" class="item item-input"><input type="text" placeholder="Direccion"> </label>

			</div>
      <div class="list list-inset removePM">
			  <label ng-show="data.step == 3" class="item item-input"><input type="text" placeholder="Contraseña"> </label>
        <label ng-show="data.step == 3" class="item item-input"><input type="text" placeholder="Repetir contraseña"> </label>
			  

			</div>
      <div ng-if="data.step == 1" class="loginButton"><button class="button ion-ios-fastforward button-block button-balanced" ng-click="nextStep()"> Siguiente Paso </button>  </div>

      <button ng-if="data.step == 2" ng-click="pickImagen()" class="button button-full button-stable">
        Escoger Imagen de Perfil
      </button>
      <div ng-if="data.step == 2" class="row  padding removePM">

        <div class="row">
          <div class="col"> <a ng-click="lastStep()" class=" button-balanced button button-block" ><i class="icon icon ion-chevron-left">Atras</i></a> </div>
          <div class="col"> <a ng-click="nextStep()" class="button-balanced button button-block" >Siguiente<i class="icon ion-chevron-right"></i></a> </div>
        </div>




      </div>
      <div ng-if="data.step == 3" class="row  padding removePM">
        <div class="col"> <a ng-click="lastStep()" class=" button-balanced button button-block" ><i class="icon icon ion-chevron-left">Atras</i></a> </div>
        <div class="col"> <div class="loginButton"><button class="button ion-person button-block button-primary" ng-click="submit()"> Registrarme </button>  </div></div>
      </div>





	  </div>
  </div>


  </ion-content>
</ion-view>
