<ion-view title="Transferencias de Saldo">


  <ion-content class="has-header padding">
          <div class="row">
            <div class="col">

              <ion-list>
                <div class="item item-divider">
                                         Auto Origen
                                       </div>
                  <ion-radio ng-repeat="carro in gautos" ng-model="seleccion" ng-click="seleccionarAuto(carro)"><i class="ion-model-s"></i>{{carro.placa}} | Saldo : {{carro.saldo}} $ </ion-radio>
                </ion-list>

            </div>


          </div>
          <div class="row">
            <div class="col" ng-show="showDetail">
              <div class="list">
            <div class="item item-divider">
                    Auto Destino
                    </div>
                    <label class="item item-input item-floating-label">
                      <span class="input-label">Cantidad</span>
                      <input ng-model="recarga.monto" type="number" placeholder="Cantidad $">
                    </label>

              </div>
              <ion-list>
                  <ion-radio  ng-repeat="carro in gautos">{{carro.placa}} | Saldo : {{carro.saldo}}</ion-radio>


            </ion-list>

            <button class="button button-full button-positive" name="button" ng-click="transferir()">Transferir</button>

            </div>
          </div>

    </ion-content>
      </ion-content>
</ion-view>
