<ion-view title="Listado de Vehiculos">

  <ion-floating-button click="addAuto()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>

  <ion-content class="has-header padding">
    <div class="row header">
        <div class="col">Placa</div>
        <div class="col">Infracciones</div>
        <div class="col">Saldo</div>
        <div class="col">Tiempo</div>

      </div>


      <div class="row" ng-repeat="vehiculo in gautos">
          <div class="col">{{vehiculo.placa}}</div>
          <div class="col">{{vehiculo.infracciones}} $</div>
          <div class="col">{{vehiculo.saldo}} $</div>
          <div class="col">{{vehiculo.tiempo}} min.</div>

        </div>
    </ion-content>
      </ion-content>
      <script id="add" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">My Modal title</h1>
          </ion-header-bar>
          <ion-content>
            Hello!
          </ion-content>
        </ion-modal-view>
      </script>
</ion-view>
