.titleMain{
	background-color: #00a9e0 !important;
	color:white !important;
}
.titleMain .title {
	color:white !important;

}
.titleMain b{
	color:#011419;
	font-size: 18px;
    font-weight: bold;
}
.iconLeft{
	color:white !important;
}
/*.menuLeft{
	background-color: #00e894;
}*/
.titleLeft{
	background-color: #00a9e0 !important;
	color:white !important;
}
.titleLeft h1{	
	color:white !important;
}
.menuLeft .list{
	background-color: transparent !important;
}
.bar.bar-stable {
	background: transparent;
}
.bar{
	background-position: none; 
	background: transparent;
}
/*Begin Img */
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.panel {
    margin-bottom: 1px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
}
.panel-default {
    border-color: rgb(221, 221, 221);
}

.panel-image img.panel-image-preview {
    width: 100%;
	border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;
}

.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
	overflow: hidden;
}
.panel-image ~ .panel-footer a {
	padding: 0px 10px;
	font-size: 1.3em;
	color: rgb(100, 100, 100);
}

.panel-image.hide-panel-body ~ .panel-body {
	height: 0px;
	padding: 0px;
}
.panel-footer {
    background-color: rgb(245, 245, 245);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px 15px;
    border-top: 1px solid rgb(221, 221, 221);
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.imgUser{
	background-color: #00a9e0 !important;
}
/*End Img*/

.btn-finparqueo{
    background-color: red !important;
    color: #fff !important;
}